.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  text-align: left;
  margin-bottom: 5px;
  color: #444;
  font-weight: 500;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-form button {
  padding: 12px;
  background-color: #000dff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #6b73ff;
}
